<main>
  
        <div id="carouselExampleControls" class="carousel carousel-dark slide pt-3" data-bs-ride="carousel">

            <div class="carousel-inner container">
                <div class="carousel-item active">
                    <div class="cards-wrapper d-flex">
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                            <img src="../../assets/img/all-in-one.jpg" class="card-img-top" alt="All in one" width="300px"
                                height="300px">
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                            <img src="../../assets/img/hdd.jfif" class="card-img-top" alt="hdd" width="300px"
                                height="300px">
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                            <img src="../../assets/img/laptop.jpg" class="card-img-top" alt="laptop" width="300px"
                                height="300px">
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                            <img src="../../assets/img/m.2.jfif" class="card-img-top" alt="m.2" width="300px"
                                height="300px">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="cards-wrapper d-flex">
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                            <img src="../../assets/img/monitor.jpg" class="card-img-top" alt="monitor" width="300px"
                                height="300px">
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                            <img src="../../assets/img/parlantes.jpg" class="card-img-top" alt="parlantes" width="300px"
                                height="300px">
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card ">
                            <img src="../../assets/img/ram.jpg" class="card-img-top" alt="ram" width="300px"
                                height="300px">
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                            <img src="../../assets/img/teclado-mouse.jpg" class="card-img-top" alt="teclado-mouse"
                                width="300px" height="300px">
                        </div>
                    </div>
                </div>
            </div>
            <button id="button-prev2" class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button id="button-next2" class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </main>