<main>
    <h2 class="centrar letraTipoProducto">Actualmente contamos con los siguientes productos</h2>
    <div id="carouselExampleControls" class="carousel carousel-dark slide pt-3" data-bs-ride="carousel">

        <div class="carousel-inner container">
            <div class="carousel-item active">
                <div class="cards-wrapper d-flex">
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                        <img src="../../assets/img/all-in-one.jpg" class="card-img-top" alt="All in one" width="300px"
                            height="300px">
                        <h5 class="card-title">All In One HP</h5>
                    </div>
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                        <img src="../../assets/img/hdd.jfif" class="card-img-top" alt="hdd" width="300px"
                            height="300px">
                        <h5 class="card-title">HDD - 1TB</h5>
                    </div>
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                        <img src="../../assets/img/laptop.jpg" class="card-img-top" alt="laptop" width="300px"
                            height="300px">
                        <h5 class="card-title">Laptop Lenovo core i3</h5>
                    </div>
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                        <img src="../../assets/img/m.2.jfif" class="card-img-top" alt="m.2" width="300px"
                            height="300px">
                        <h5 class="card-title">M.2 - 1TB</h5>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="cards-wrapper d-flex">
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                        <img src="../../assets/img/monitor.jpg" class="card-img-top" alt="monitor" width="300px"
                            height="300px">
                        <h5 class="card-title">Monitor Gigabyte - 32"</h5>
                    </div>
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                        <img src="../../assets/img/parlantes.jpg" class="card-img-top" alt="parlantes" width="300px"
                            height="300px">
                        <h5 class="card-title">Parlantes Logitech </h5>
                    </div>
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card ">
                        <img src="../../assets/img/ram.jpg" class="card-img-top" alt="ram" width="300px" height="300px">
                        <h5 class="card-title">RAM 8GB</h5>
                    </div>
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                        <img src="../../assets/img/teclado-mouse.jpg" class="card-img-top" alt="teclado-mouse"
                            width="300px" height="300px">
                        <h5 class="card-title">Teclado y Mouse Inalambrico</h5>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="cards-wrapper d-flex">
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                        <img src="../../assets/img/pc_gamer.jpg" class="card-img-top" alt="monitor" width="300px"
                            height="300px">
                        <h5 class="card-title">PC GAMER</h5>
                    </div>
                    <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-primary" id="card">
                        <img src="../../assets/img/tv_lg.jpg" class="card-img-top" alt="parlantes" width="300px"
                            height="300px">
                        <h5 class="card-title">TV LG - 49 PULGADAS </h5>
                    </div>
                </div>
            </div>
        </div>
        <button id="button-prev2" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button id="button-next2" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h2 class="centrar letraTipoProducto">Acontinuacion tiene una tabla con los pecios</h2>
    <table class="table table-success table-striped container">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Laptop</td>
                <td>Lenovo Lenovo core i3</td>
                <td>S/. 1550</td>
                <td>3</td>
            </tr>

            <tr>
                <td>002</td>
                <td>All in one</td>
                <td>HP core i5</td>
                <td>S/. 1200</td>
                <td>2</td>
            </tr>

            <tr>
                <td>003</td>
                <td>Teclado y mouse inalambrico</td>
                <td>logitech </td>
                <td>S/. 75</td>
                <td>10</td>
            </tr>

            <tr>
                <td>004</td>
                <td>Monitor</td>
                <td>LG -32 pulgadas curvo </td>
                <td>S/. 2000</td>
                <td>4</td>
            </tr>

            <tr>
                <td>005</td>
                <td>Computadora gamer </td>
                <td>core i5 10ma generacion - disco solido 500gb - 8gb de ram </td>
                <td>S/. 3000</td>
                <td>2</td>
            </tr>

            <tr>
                <td>006</td>
                <td>Parlantes</td>
                <td>logitech </td>
                <td>S/. 100</td>
                <td>3</td>
            </tr>

            <tr>
                <td>007</td>
                <td>m.2</td>
                <td>Kingstong 1TB </td>
                <td>S/. 450</td>
                <td>20</td>
            </tr>

            <tr>
                <td>008</td>
                <td>RAM</td>
                <td>Memoria RAM para Laptop - DDR4 8GB </td>
                <td>S/. 200</td>
                <td>10</td>
            </tr>

            <tr>
                <td>009</td>
                <td>HDD </td>
                <td>samsung - 1TB </td>
                <td>S/. 150</td>
                <td>5</td>
            </tr>

            <tr>
                <td>010</td>
                <td>Televisor</td>
                <td>LG - 49 pulgadas </td>
                <td>S/. 1950</td>
                <td>3</td>
            </tr>

            
        </tbody>
    </table>
</main>