    <nav class="navbar bg-light gradient">
        <div class="container-fluid">
            <a class="navbar-brand " href="#">
                <div>
                    <img src="../assets/img/logo.png" alt="Logo" width="150" height="150"
                        class="d-inline-block align-text-top">
                </div>
                <ul class="nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">INICIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/Quienes_somos.html">QUIENES SOMOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/carrito.html">CARRITO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages/contacto.html">CONTACTO</a>
                    </li>
                </ul>
            </a>
        </div>
    </nav>
